.btn {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 10px;
    font-weight: 500;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    letter-spacing: .5rem;
    
    @mixin largeScreen {
        padding: 12px 24px;
        font-size: 0.9375rem;
    }
}
.btn__green {
    color: #FFF;
    background-color: #61ce70;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.btn__green:hover {
    color: #FFF;
    background-color: #EE2A5F;
    transition: all .5s ease-in-out;
}
.btn__light {
    color: #FFF;
    background-color: #AAA;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.btn__light:hover {
    color: #FFF;
    background-color: #000;
    transition: all .5s ease-in-out;
}