.large-hero {
    vertical-align: center;
    text-align: center;
    color: #fff;
    position: relative;
}
.large-hero-section{
    max-width: 100%;
    z-index: 9999;
    height: 80%;
    /* background: url("../../images/body/avatar.jpg") no-repeat fixed center / cover; */
    /* background-size: cover; */
}
.large-hero-info {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
.SomeButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}